body {
    font-family: "Times New Roman", sans-serif;
    padding-left: 5px;
}

.header {
    color: black;
    margin-bottom: 40px;
    font-size: 18px;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1.5em;
    background-color: rgb(255, 154, 103);
    color: white;
    font-size: 22px;
    margin-left: -1em;
}

footer {
    height: 10px;
    width: 100%;
}